.ButtonPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floor-select-button-active, .floor-select-button-inactive {
  border-radius: 50%;
  font-size: 1em;
  height: 2em;
  width: 2em;
  margin: 10px;
}

.floor-select-button-active {
  color: lightgreen;
  border: 2px solid green;
}

.floor-select-button-inactive {
  color: white;
  border: 2px solid white;
}

.floor-select-button-inactive:hover {
  cursor: pointer;
}
